.container {
  padding: 16px;
}

.container button {
  margin-bottom: 8px;
}

.calculators {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .calculators {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .calculators {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1320px) {
  .calculators {
    grid-template-columns: repeat(4, 1fr);
  }
}
